<p id="notice"><%= notice %></p>

<% if @component.status == 1 %>
  <%= render "show_for_bidding" %>
<% elsif @component.status == 2 %>
  <%= render "show_ongoing" %>
<% elsif @component.status == 3 %>
  <%= render "show_completed" %>
 <% elsif @component.status == 4 %>
  <%= render "show_funded" %>
<% else%>
  <h1 class="text-center"><strong>Something has gone wrong.</strong></h1>
<% end %>

<hr>

<div class="pull-right">
  <%= link_to 'Edit', edit_component_path(@component) %> |
  <%= link_to 'Delete', @component, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%= link_to 'Back', "javascript:history.back()" %>
</div>
