<p id="notice"><%= notice %></p>

<h1>Listing Component Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Component</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @component_attachments.each do |component_attachment| %>
      <tr>
        <td><%= component_attachment.attachment %></td>
        <td><%= component_attachment.component %></td>
        <td><%= link_to 'Show', component_attachment %></td>
        <td><%= link_to 'Edit', edit_component_attachment_path(component_attachment) %></td>
        <td><%= link_to 'Destroy', component_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component attachment', new_component_attachment_path %>
