<h1 class="text-center">
	<strong><%= @project.title %></strong>
</h1>

<div class="well well-lg">

	<p>
		<strong>Belongs to: </strong> 
		<%= link_to @project.university.description, @project.university %> 
	</p>

	<p>
		<strong>Status: </strong> 
		<%= @project.status_desc %> 
	</p>

	<p>
		<strong>Classification: </strong> 
		<%= @project.classification_desc %> 
	</p>

	<p>
		<strong>Approved Budget Ceiling: </strong> 
		<%= number_with_precision( @project.abc, precision: 2, delimiter: ',' ) if @project.abc.present? %>
	</p>

	<p>
		<strong>Remarks: </strong> 
		<% if @project.remarks.present? %>
			<div class="well well-sm" style="background: white;">
				<%= simple_format( @project.remarks ) %> 
			</div>
		<% end %>
	</p>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-info">
			<div class="panel-heading" role="tab" id="heading-project-funds">
				<h4 class="panel-title text-center">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-project-funds">
						<strong>Source of Funds</strong>
					</a>
				</h4>
			</div>
			<div id="panel-project-funds" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<table class="table table-hover table-responsive">
					  <thead>
					    <tr>
					      <th>Fund Source</th>
					      <th>Amount (PhP)</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% @project.project_funds.each do |fund| %>
					      <tr>
					        <td><%= fund.source_name %></td>
					        <td><%= number_with_precision( fund.amount, precision: 2, delimiter: ',' ) if fund.amount.present? %></td>
					      </tr>
					    <% end %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-info">
			<div class="panel-heading" role="tab" id="heading-project-attachments">
				<h4 class="panel-title text-center">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-project-attachments">
						<strong>File Attachments</strong>
					</a>
				</h4>
			</div>
			<div id="panel-project-attachments" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<% @project.project_attachments.each do |project_attachment| %>
						<li>
				     		<%= link_to project_attachment.attachment.file.filename, project_attachment.attachment_url, target: "_blank" %> | 
				    		<%= link_to '<i class="fa fa-times-circle"></i> Remove'.html_safe, project_attachment, data: { confirm: 'Are you sure you want to delete this attachment?' }, method: :delete, style: "color: red;" %>
				    	</li>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>