<p id="notice"><%= notice %></p>

<% if @project.status_desc == "For Bidding" %>
  <%= render "show_for_bidding" %>
<% elsif @project.status_desc == "Ongoing" %>
  <%= render "show_ongoing" %>
<% elsif @project.status_desc == "Completed" %>
  <%= render "show_completed" %>
<% else%>
  <h1 class="text-center"><strong>Something has gone wrong.</strong></h1>
<% end %>

<hr>

<div class="pull-right">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', "javascript:history.back()" %>
</div>
