<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Abc:</strong>
  <%= @project.abc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Bidding status:</strong>
  <%= @project.bidding_status %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @project.contractor %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @project.progress %>
</p>

<p>
  <strong>Tdc:</strong>
  <%= @project.tdc %>
</p>

<p>
  <strong>Noa:</strong>
  <%= @project.noa %>
</p>

<p>
  <strong>Ntp:</strong>
  <%= @project.ntp %>
</p>

<p>
  <strong>Adc:</strong>
  <%= @project.adc %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>

<p>
  <strong>University:</strong>
  <%= @project.university %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
