<% if current_user.admin %>
<p id="notice"><%= notice %></p>
</br>
<h1><b>List of Project Classifications</b></h1>
<%= link_to '<i class="fa fa-plus"></i> New Project Classification'.html_safe, new_classification_path, :class => "pull-right" %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td><%= classification.description %></td>
        <td style="text-align: right;">
           <%= link_to 'Edit', edit_classification_path(classification) %> | <%= link_to 'Destroy', classification, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
 <%= render 'shared/unauthorized' %>
<% end %>

