<h1 class="text-center"><strong><%= @university.description %>'s Projects</strong></h1>
<div class="text-center">
	<%= link_to '<i class="fa fa-plus"></i> New Project'.html_safe, new_project_path %> | 
	<%= link_to '<i class="fa fa-table"></i> Export to Excel'.html_safe, university_path(@university, format: "xlsx") %>
</div>
<hr>
<div class="row">
	<div class="col-md-3">
		<%= render "funding" %>
	</div>
	<div class="col-md-3">
		<%= render "for_bidding" %>
	</div>
	<div class="col-md-3">
		<%= render "ongoing" %>
	</div>
	<div class="col-md-3">
		<%= render "completed" %>
	</div>
</div>
